<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lista-personajes"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ personaje?.alias || 'Detalle' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="personaje; else loading">

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ personaje.alias }}</ion-card-title>
        <ion-card-subtitle>{{ personaje.nombre }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <ion-text color="medium"><strong>Equipo:</strong></ion-text>
            </ion-col>
            <ion-col size="8">
              <ion-text>{{ personaje.equipo }}</ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4">
              <ion-text color="medium"><strong>Poder:</strong></ion-text>
            </ion-col>
            <ion-col size="8">
              <ion-text>{{ personaje.poderPrincipal }}</ion-text>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4">
              <ion-text color="medium"><strong>Aparición:</strong></ion-text>
            </ion-col>
            <ion-col size="8">
              <ion-text>{{ personaje.primeraAparicion }}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

  </div>

  <ng-template #loading>
    <ion-text>
      <p>Cargando personaje...</p>
    </ion-text>
  </ng-template>
</ion-content>
