<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Personajes de Marvel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @for (p of personajesList; track p.alias; let i = $index) {
    <ion-card
      (click)="verDetalle(i)"
      [button]="true">

      <ion-card-header>
        <ion-card-title>{{ p.alias }}</ion-card-title>
        <ion-card-subtitle>{{ p.nombre }}</ion-card-subtitle>
      </ion-card-header>

    </ion-card>
  }

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content loadingText="Cargando más personajes..." loadingSpinner="dots"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>




<!--

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
        (click)="anteriorPagina()"
        [disabled]="anteriorDeshabilitado">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        Anterior
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button
        (click)="siguientePagina()"
        [disabled]="siguienteDeshabilitado">
        Siguiente
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

-->
